.newAccount {
  margin: 2rem;
}

.newAccount Form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: fit-content;
}

label {
  padding: 1rem;
}

.newAccount Input {
  font-size: 1.5rem;
}
