.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(226, 182, 189);
  min-height: 100vh;
  max-height: fit-content;
  text-align: center;
}

.App-header {
  background-color: #7a2235;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
